.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.excalidraw-footer{
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.excalidraw .App-menu_top > *:last-child {
  display: none !important;
}
.excalidraw .Stack.Stack_vertical.App-menu_top__left{
  visibility: hidden;
}

.excalidraw .layer-ui__wrapper__footer-right{
  display: none!important;
}
.excalidraw .layer-ui__wrapper__footer .App-menu .App-menu_bottom{
  align-items: center !important;
}

.excalidraw footer.App-toolbar{
  display: none;
}